body {
  font-family: 'Karla', sans-serif;
}

/* ----------------------------------------------------------------------------------- */
/* PAGE NAVIGATION */
/* ----------------------------------------------------------------------------------- */
.page-nagivation {

}

.page-navigation-menu {
  display: none;
}

.page-navigation-menu.active {
  display: block;
}


/* ----------------------------------------------------------------------------------- */
/* PAGE HERO */
/* ----------------------------------------------------------------------------------- */
.page-hero {

}
