// SETTINGS

// TOLLS

// GENERIC
@import 'generic/normalize';

// ELEMENTS
@import 'elements/elements';

// COMPONENTS
@import 'components/page-header';
@import 'components/page-navigation';
@import 'components/page-hero';
@import 'components/page-footer';

// UTILITIES


/* ----------------------------------------------------------------------------------- */
/* landing-intro */
/* ----------------------------------------------------------------------------------- */

.landing-intro{
	padding-bottom: 54px;
}
.landing-thumbnail{
	background-color: #fff;
	margin-left: 14px;
	margin-right: 27px;
	margin-top: 54px;
	padding: 27px;
}
.landing-thumbnail-title{
	text-transform: uppercase;
	font-family: Karla, sans-serif;
	margin-top: 0;
	color: #111;
	font-size: 21px;
	line-height: 27px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 27px;
}
.landing-thumbnail-text{
	font-weight: 100;
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 27px;
	font-family: 'Frank Ruhl Libre', sans-serif;
}
.landing-thumbnail-link{
	font-size: 16px;
	padding-bottom: 10px;
	text-transform: uppercase;
	display: inline-block;
	color: #111;
	text-decoration: none;
	border-bottom: 1px solid #111;
	font-family: Karla, sans-serif;
	letter-spacing: 1px;
}


/* ----------------------------------------------------------------------------------- */
/* MENU PAGES  */
/* -----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------- */
/*  PAGE HERO */
/* -----------------------------------------------------------------------------------*/

.page-title{
	text-align: center;
	text-transform: uppercase;
	color: #111;
	font-size: 21px;
	line-height: 27px;
	letter-spacing: 1px;
}
.page-intro{
	background-color: white;
	padding: 54px 27px 68px;
	position: relative;
	margin-top: -108px;
}
.page-title-horizontal-line{
	margin-top: 41px;
	display: block;
	width: 54px;
	height: 2px;
	margin-right: auto;
	margin-bottom: 41px;
	margin-left: auto;
	background-color: #111;
}
.page-title-desc{
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 100;
	text-align: center;
	max-width: 680px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 24px;
	line-height: 34px;
}
.page-title-badge{
	bottom: -44px;
	height: 110px;
	position: absolute;
	right: 27px;
}
.page-content{
	padding-top: 54px;
	padding-right: 27px;
	padding-left: 27px;
}

/* ----------------------------------------------------------------------------------- */
/* MENU PAGE - CONTENT */
/* -----------------------------------------------------------------------------------*/
.menu-page-hero {
	background-image: url("../img/hero-4.jpg");
	background-size: cover;
	height: 351px;
	margin-top: -200px;
	background-position: 50% 50%;
}
.menu-title{
	text-transform: uppercase;
	display: inline-block;
	margin-right: 27px;
	margin-top: 20px;
	color: #111;
	font-size: 30px;
	line-height: 34px;
	font-weight: 400;
}
.menu-subtitle{
	text-transform: uppercase;
	display: inline-block;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 13px;
	color: #111;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.menu-list{
	font-size: 34px;
	padding-bottom: 50px;
	margin-bottom: 13.5px;
}
.menu-item{
	line-height: 60px;
}
.menu-meal{
	max-width: 90%;
	line-height: 27px;
	font-size: 16px;
	float: left;
	margin-bottom: 13.5px;
}
.menu-price{
	font-size: 16px;
	text-align: right;
}
.menu-page-bottom{
	padding: 25px;
}
.menu-page-bottom-img{
	width: 100%;
}

/* ----------------------------------------------------------------------------------- */
/* ABOUT PAGE - CONTENT */
/* -----------------------------------------------------------------------------------*/
.about-page-hero{
	background-image: url("../img/hero-6.jpg");
	background-size: cover;
	height: 405px;
	margin-top: -200px;
}
.about-title{
	text-transform: uppercase;
	margin-top: 15px;
	font-size: 21px;
	line-height: 27px;
	letter-spacing: 1px;
}
.about-text{
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 30px;
}
.about-page-bottom-img{
	width: 100%;
}
.about-page-bottom {
	margin-bottom: 85px;
}
.about-page-bottom-container{
	background-color: #fff;
	margin: 0 -13px;
	padding: 54px 13.5px;
	margin-bottom: 22px;
	font-family: 'Frank Ruhl Libre', sans-serif;
}
.about-page-bottom-container-text{
	text-align: center;
	padding-bottom: 25px;
	line-height: 34px;
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-size: 24px;
	font-weight: 300;
}
.about-page-bottom-container-link{
	display: inline-block;
	border-bottom: 1px solid #111;
	color: #111;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 20px;
	line-height: 34px;
	font-family: Karla, sans-serif;
	font-size: 16px;
	text-align: center;
}
.about-page-bottom-container-section{
	text-align: center;
}

/* ----------------------------------------------------------------------------------- */
/* FUNCTIONS PAGE - CONTENT */
/* -----------------------------------------------------------------------------------*/
.functions-page-hero{
	background-image: url("../img/hero-2.jpg");
	background-size: cover;
	height: 340px;
	margin-top: -200px;
}
.functions-page-content{
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}
.functions-container-left{
	width: 50%;
}
.functions-container-right{
	width: 50%;
}
.functions-img{
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.functions-title{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 34px;
	font-weight: 400;
}
.functions-subtitle{
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 13px;
	color: #111;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.functions-text{
	padding: 30px 5px;
	font-size: 16px;
	line-height: 27px;
}
.functions-link{
	text-decoration:none;
	border-bottom: 1px solid #111;
	color: #111;
	font-size: 16px;
}
.functions-page-bottom  {
	padding: 30px;
}
.functions-page-bottom-img{
	align-content: center;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.functions-page-bottom-text{
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 300;
}
.reservation-form{
	padding-left: 30px;
	right: 40px;
}
.functions-form{
	margin-top: 54px;
}
.form-label{
	line-height: 60px;
	font-size: 14px;
	font-weight: 400;
	display: block;
}
.form-input{
	font-family: Karla, sans-serif;
	width: 90%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, .1);
}
.form-textarea{
	padding-bottom: 189px;
}
.form-button{
	width: 180px;
	border: 2px solid #24252c;
	background-color: #24252c;
	font-size: 16px;
	color: white;
	margin-left: 110px;
	margin-bottom: 30px;
	font-family: Karla, sans-serif;
	height: 50px;
	line-height: 46px;
}


/* ----------------------------------------------------------------------------------- */
/* NEWS PAGE - CONTENT */
/* -----------------------------------------------------------------------------------*/
.news-page-hero{
	background-image: url("../img/hero-1.jpg");
	background-size: cover;
	height: 340px;
	margin-top: -200px;
	background-position-y: 30%;
}
.news-container{

}
.news-container-link{
	text-decoration: none;
	color: #fff;
}
.news-item{
	background-size: cover;
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 350px;
}
.news-item-date{
	text-transform: uppercase;
	font-family: Karla, sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding-top: 27px;
	padding-right: 27px;
	padding-left: 27px;
}
.news-item-title{
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-size: 34px;
	line-height: 41px;
	font-weight: 300;
	padding-top: 27px;
	padding-right: 27px;
	padding-left: 27px;
}


/* ----------------------------------------------------------------------------------- */
/* NEWS PAGE - RESERVATIONS */
/* -----------------------------------------------------------------------------------*/
.reservations-page-hero{
	background-image: url("../img/hero-9.jpg");
	background-size: cover;
	height: 340px;
	height: 270px;
	margin-top: -200px;
}
.reservation-form-container{
	background-color: #f4fbf5;
}

