.c-page-footer {
  background-color: #24252c;
  color: #FFF;
  font-weight: 300;
  padding: 80px 15px;
}

.c-page-footer__logo {
  width: 100px;
  margin-bottom: 100px;
}

.c-page-footer__list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.c-page-footer__list-item {
  margin-bottom: 10px;
}

.c-page-footer__list--inline .c-page-footer__list-item{
  display: inline-block;
  margin-right: 30px;
}

.c-page-footer__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 25px;
}


.c-page-footer__link {
  color: #FFF;
}

.c-page-footer__social {
  width: 40px;
}

// .page-footer{
//   position: relative;
//   padding-top: 108px;
//   padding-bottom: 81px;
//   background-color: #24252c;
//   color: #fff;
//   font-size: 16px;
//   padding-left: 13.5px;
//   padding-right: 27px;
// }
// .page-footer-link{
//   color: #fff;
// }
// .page-footer-logo{
//   padding-left: 13.5px;
// }
// .page-footer-logo-img{
//   margin-bottom: 81px;
//   max-height: 44px;
// }
// .page-footer-list{
//   padding-left: 13.5px;
// }
// .page-footer-title{
//   text-transform: uppercase;
//   margin-top: 0;
//   margin-bottom: 13px;
//   font-size: 16px;
//   line-height: 27px;
//   font-weight: 400;
//   letter-spacing: 0.5px;
// }
// .page-footer-text{
//   margin-bottom: 27px;
//   line-height: 27px;
// }
// .page-footer-social-img{
//   height: 22px;
//   margin-right: 15px;
// }
// .page-footer-copyright{
//   padding-left: 13.5px;
// }
// .page-footer-copyright-text{
//   color: #fff;
//   margin: 54px 0;
//   margin-right: 13.5px;
//   opacity: 0.75;
//   font-size: 14px;
// }
// .page-footer-copyright-license{
//   text-decoration: none;
//   border-bottom: 1px solid #111;
//   color: #fff;
//   margin-bottom: 54px;
//   margin-right: 13.5px;
//   opacity: 0.75;
//   font-size: 14px;
// }
// .page-footer-arrow-down{
//   position: absolute;
//   bottom: 27px;
//   border-radius: 50%;
//   right: 27px;
//   width: 54px;
//   height: 54px;
//   background-color: #31323a;
// }
// .page-footer-arrow-down-img{
//   position: relative;
//   top: 21px;
//   right: -20px;
//   display: block;
//   height: 9px;
//   -webkit-transform: rotate(180deg);
//   -ms-transform: rotate(180deg);
//   transform: rotate(180deg);
// }

