.c-testimonial {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 20px auto;
  padding: 20px;
  border: 1px solid #DDD;
}

.c-testimonial__author {
  font-size: 14px;
  text-transform: uppercase;
}

.c-testimonial__content {
  font-size: 20px;
  color: orange;
}
