<nav class="c-page-navigation" id="page-navigation">

  <div class="c-page-navigation__bar">

    <a class="c-page-navigation__logo" href="./index.html">
      <img class="c-page-navigation__logo-img" src="../assets/img/logo.png">
    </a>

    <button class="c-page-navigation__toggle [ js-page-navigation-toggle ]" type="button">
      <img class="c-page-navigation__toggle-img" src="../assets/img/menu-icon.png">
    </button>

  </div>

  <ul class="c-page-navigation__menu [ js-page-navigation-menu ]">

    <li class="c-page-navigation__menu-item">
      <a class="c-page-navigation__menu-link" href="menu.html">menu</a>
    </li>

    <li class="c-page-navigation__menu-item">
      <a class="c-page-navigation__menu-link" href="about.html">about</a>
    </li>

    <li class="c-page-navigation__menu-item">
      <a class="c-page-navigation__menu-link" href="functions.html">functions</a>
    </li>

    <li class="c-page-navigation__menu-item">
      <a class="c-page-navigation__menu-link" href="news.html">news</a>
    </li>

    <li class="c-page-navigation__menu-item">
      <a class="c-page-navigation__menu-link" href="reservations.html">reservations</a>
    </li>

    <li class="c-page-navigation__menu-item">
      <a class="c-page-navigation__menu-link" href="#">ph: (03) 6638 2918</a>
    </li>

  </ul>

</nav>
