<footer class="c-page-footer">
  <div class="c-page-footer__container">    
    <div class="c-page-footer__logo">  
      <img class="c-page-footer__logo-img" src="../assets/img/logo.png"> 
    </div>
  </div>

  <div class="c-page-footer__container"> 
    <div class="c-page-footer__list">  
      <h3 class="c-page-footer__title"> Location </h3>
      <p class="c-page-footer__text"> 14 Paramore Street </p>
      <p class="c-page-footer__text"> Mornington Peninsula</p>
      <p class="c-page-footer__text"> Victoria 3552</p> 
    </div>

    <div class="c-page-footer__list">  
      <h3 class= "c-page-footer__title"> Contact </h3>
      <p class="c-page-footer__text"> P: (03) 9283 4726</p>
      <p class="c-page-footer__text"> E: <a class="c-page-footer__link" href="#">enquiries@mill.co</a></p>
    </div>

    <div class="c-page-footer__list">  
      <h3 class= "c-page-footer__title"> Opening hours </h3> 
      <p class="c-page-footer__text"> Wed — Sat, 12-3pm | 6pm-late </p>
      <p class="c-page-footer__text">  Sun, 12 noon til 3pm</p>
      <p class="c-page-footer__text">  Mon — Tues, closed  </p>
    </div>

    <div class="c-page-footer__list">  
      <h3 class= "c-page-footer__title"> Social </h3> 
      <img class= "c-page-footer__social-img" src="../assets/img/Social-Instagram.png"> 
      <img class= "c-page-footer__social-img" src="../assets/img/Social-Facebook.png"> 
      <img class= "c-page-footer__social-img" src="../assets/img/Social-Tripadvisor.png"> 
      <img class= "c-page-footer__social-img" src="../assets/img/Social-Zomato.png">  
    </div> 
  </div>

  <div class="c-page-footer__container"> 
    <div class="c-page-footer__copyright">  
      <p class="c-page-footer__copyright-text"> © Copyright 2017 Miller Restaurant, All Rights Reserved </p> 
      <a class="c-page-footer__copyright-license" href="#">Image License</a>
    </div>  
  </div>

  <div>
    <a class="c-page-footer__arrow-down" href="#page-navigation">
    	<img class="c-page-footer__arrow-down-img" src="../assets/img/down-arrow.png">
    </a>
  </div>

</footer>