 
 <header class="page-navigation" id="page-navigation">
    <div class="navigation-bar">
      <a class="page-navigation-logo" href="./index.html">
        <img class= "page-navigation-logo-img" src="../assets/img/logo.png">
      </a>
      <a class="page-navigation-toggle ">
        <img class="page-navigation-toggle-img [ js-page-navigation-toggle ]" src="../assets/img/menu-icon.png">
      </a>
    </div>
  <ul class="page-navigation-menu [ js-page-navigation-menu ]">
      <li class="page-navigation-menu-item">
        <a class="page-navigation-menu-link" href="menu.html">menu</a>
      </li>
      <li class="page-navigation-menu-item">
        <a class="page-navigation-menu-link" href="about.html">about</a>
      </li>
      <li class="page-navigation-menu-item">
        <a class="page-navigation-menu-link" href="functions.html">functions</a>
      </li>
      <li class="page-navigation-menu-item">
        <a class="page-navigation-menu-link" href="news.html">news</a>
      </li>
      <li class="page-navigation-menu-item">
        <a class="page-navigation-menu-link" href="reservations.html">reservations</a>
      </li>
      <li class="page-navigation-menu-item">
        <a class="page-navigation-menu-link" href="#">ph: (03) 6638 2918</a>
      </li>
  </ul>
</header>
