<footer class="page-footer">
    <div class="page-footer-logo">  
      <img class="page-footer-logo-img" src="../assets/img/logo.png"> 
    </div>
    <div class="page-footer-list">  
      <h3 class="page-footer-title"> Location </h3>
        <p class="page-footer-text">
            14 Paramore Street <br>
            Mornington Peninsula<br>
            Victoria 3552
        </p>
      </div>
    <div class="page-footer-list">  
      <h3 class= "page-footer-title"> Contact </h3>
        <p class="page-footer-text">
             P: (03) 9283 4726<br> 
             E: <a class="page-footer-link" href="#">enquiries@mill.co</a>   
        </p>
    </div>
    <div class="page-footer-list">  
      <h3 class= "page-footer-title"> Opening hours </h3>
        <p class="page-footer-text">
            Wed — Sat, 12-3pm | 6pm-late <br>
            Sun, 12 noon til 3pm<br>
            Mon — Tues, closed
        </p>
    </div>
    <div class="page-footer-list">  
      <h3 class= "page-footer-title"> Social </h3> 
         <img class= "page-footer-social-img" src="../assets/img/Social-Instagram.png"> 
         <img class= "page-footer-social-img" src="../assets/img/Social-Facebook.png"> 
         <img class= "page-footer-social-img" src="../assets/img/Social-Tripadvisor.png"> 
         <img class= "page-footer-social-img" src="../assets/img/Social-Zomato.png">  
    </div>

     <div class="page-footer-copyright">  
        <p class="page-footer-copyright-text"> © Copyright 2017 Miller Restaurant, All Rights Reserved </p> 
        <a class="page-footer-copyright-license" href="#">Image License</a>
      </div>  
  		<a class="page-footer-arrow-down" href="#page-navigation">
  			<img class="page-footer-arrow-down-img" src="../assets/img/down-arrow.png">
  		</a>
  </footer>