<footer class="c-page-footer">

    <a href="#" class="c-page-footer__logo">
      <img class="c-page-footer__logo-img" src="../assets/img/logo.png">
    </a>

    <h3 class="c-page-footer__title">
      Location
    </h3>

    <ul class="c-page-footer__list">

      <li class="c-page-footer__list-item">
        14 Paramore Street
      </li>

      <li class="c-page-footer__list-item">
        Mornington Peninsula
      </li>

      <li class="c-page-footer__list-item">
        Victoria 3552
      </li>

    </ul>

    <h3 class="c-page-footer__title">
      Contact
    </h3>

    <ul class="c-page-footer__list">

      <li class="c-page-footer__list-item">
          P: (03) 9283 4726
      </li>

      <li class="c-page-footer__list-item">
        E: <a class="c-page-footer__link" href="#">enquiries@mill.co</a>
      </li>

    </ul>

    <h3 class="c-page-footer__title">
      Opening Hours
    </h3>

    <ul class="c-page-footer__list">

      <li class="c-page-footer__list-item">
         Wed — Sat, 12-3pm | 6pm-late
      </li>

      <li class="c-page-footer__list-item">
        Sun, 12 noon til 3pm
      </li>

      <li class="c-page-footer__list-item">
        Mon — Tues, closed
      </li>

    </ul>

    <h3 class="c-page-footer__title">
      Socials
    </h3>

    <ul class="c-page-footer__list c-page-footer__list--inline">

      <li class="c-page-footer__list-item">
        <a href="#" class="c-page-footer__social">
         <img class= "page-footer-social-img" src="../assets/img/Social-Instagram.png">
       </a>
      </li>

      <li class="c-page-footer__list-item">
        <a href="#" class="c-page-footer__social">
         <img class= "page-footer-social-img" src="../assets/img/Social-Facebook.png">
       </a>
      </li>

      <li class="c-page-footer__list-item">
        <a href="#" class="c-page-footer__social">
         <img class= "page-footer-social-img" src="../assets/img/Social-Tripadvisor.png">
       </a>
      </li>

      <li class="c-page-footer__list-item">
        <a href="#" class="c-page-footer__social">
         <img class= "page-footer-social-img" src="../assets/img/Social-Zomato.png">
       </a>
      </li>

    </ul>

<!--     <div class="c-page-footer__copyright">
      <p class="c-page-footer__copyright-text"> © Copyright 2017 Miller Restaurant, All Rights Reserved </p>
      <a class="c-page-footer__copyright-license" href="#">Image License</a>
    </div>

		<a class="c-page-footer__arrow-down" href="#page-navigation">
      <img class="c-page-footer__arrow-down-img" src="../assets/img/down-arrow.png">
		</a> -->

</footer>
